body{
    background-color: lightgray;
}
.home-page-greeting {
    margin: auto;
    text-align: center;
    color: rgb(17, 13, 13);
  }

.homepage-pic{
    width: 23rem;
    height: 23rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-text{

    margin-top: 100px;
    text-align: center;
}